header{
width: 40%;
height: 30%;
color: rgb(0, 0, 0);
}

header{
    background-image: url("jeshoots-com-ecktzgjc-iu-unsplash.jpg");
    background-color: #cccccc;
    background-position-x: center;   
background-size: cover;
background-repeat: no-repeat;
}




img{
width: 50%;


}

article{
border: #cccccc;
border-style: solid;
border-color: black;
border-radius: 3%;

}