* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Goldman", cursive;
  }
  
  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
  }


  img{



  }

  p{
font-size: 20px;
    color: white;
    text-align: center;
  }

  h1{

    text-align: center;
    font-size:300%
    color: white;
  }

  footer{
    margin-top: 855px;
  }



  footer {
    text-align: center;
    padding: 3px;
    background-color: #00a8c7;
    color: white;
    
  }


  #navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    
  }

.Javascript{
padding-right: 2rem;
position: fixed;
bottom: 10%;
right: 10%;
top: 30%;
}

.Paragraaf3{
position: fixed;
top: 45%;


}
.H1JAVA{
position: fixed;
top: 20%;
right: 40%;
font-size:250%
}

.Index{
font-size: xx-large;


}

.JavaH2{
position: fixed;
bottom: 55%;
right: 70%;
font-size:200%
}

.SqlH1{
position: fixed;
top: 25%;
right: 40%;
font-size:250%

}

.SQLH2{
  position: fixed;
top: 50%;
left: 10%;
  font-size:200%;
color: white;
bottom: 35%;
}

.MySQL{
  position: fixed;
right: 10%;
bottom: 20%;
font-size:250%
}

.SQLP{
  font-size:250%;
position: fixed;
left: 10%;
bottom: 39%;
color: white;
}

.Contact{
position: fixed;
right: 46%;
bottom: 60%;
}

.Versturen{
  font-size: 20px;
  width: 20%;
  background-color: #00a8c7;
color: white;
position: fixed;
right: 40%;
bottom: 55%;

}

.Contact{
font-size: x-large;


}

nav {
  
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}

.dropbtn {
  font-family: "Goldman", cursive;
  font-size: 30%;
  background-color:#00a8c7;
  color: #00a8c7;
  padding: 16px;
  font-size: 25px;
  border: none;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#00a8c7}


.dropdown-content{



}

.Hoofdstukcontact{
font-size: 200%;


}